{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>When In Rome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="beige-bg">

    <section class="hero-section">
        <nav class="navbar navbar-expand-lg navbar-dark pt-3">
            <div class="container">
                <a class="navbar-brand logo-cursive" href="{% url 'WhenInRome:index' %}" > When In Rome</a>
                <div class="ms-auto">
                    <a class="btn btn-outline-light me-2 rounded-pill" href="#">Sign Up</a>
                </div>
                <a class="btn btn-light rounded-pill" href="#">Login</a>
            </div>
        </nav>
        <div class="hero-search-container">
            <form action="{% url 'WhenInRome:index' %}" method="get" class="search-box-wrapper shadow-lg overflow-hidden rounded-pill bg-white p-1">
                <div class="input-group">
                    <input name="q" type="text" class="form-control hero-search-input border-0 shadow-none ps-4" placeholder="Where do you want to go?">
                    <button type="submit" class="btn btn-search rounded-pill px-4">Search</button>
                </div>
            </form>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <aside class="col-lg-3 pe-lg-5">
                <div class="sort-container mb-4">
                    <select class="form-select sort-box shadow-sm">
                        <option selected>Sort By </option>
                        <option value="1">Highest Rating</option>
                        <option value="2">Most Recent</option>
                    </select>
                </div>
                <div class="filter-results">
                    <h5 class="fw-bold mb-3"> Filter Results</h5>
                    <div class="filter-item border-bottom py-3 d-flex justify-content-between">
                        <span>Country</span> <span class="plus-icon">+</span>
                    </div>
                </div>
            </aside>
            <section class="col-lg-9">
                {% block content %}
                {% endblock %}
            </section>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
