@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:wght@700&family=Special+Elite&display=swap');

@font-face {
    font-family: 'black-mango';
    src: url('../fonts/BlackMango-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'garet';
    src: url('../fonts/Garet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #E3DFD9;
    color: #211E20;
    font-family: 'garet', 'Arial', sans-serif;
    margin: 0;
    min-height: 100vh;
}

a {
    color: #211E20;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: #7B9BAF;
}


.hero-section {
    background-size: cover;
    background-position: center;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo-cursive {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: white !important;
}

.stamp-card {
    background: white;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.stamp-card:hover {
    transform: scale(1.03) rotate(2deg);
    background-color: #fffef2;
}

.stamp-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border: 10px solid #001f3f;
    border-radius: 35px;
    background-color: #f0f0f0;
}

.stamp-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.results-title, .glance-title {
    font-family: 'black-mango', serif;
}

.btn-dark {
    background-color: #001f3f;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
}

.btn-dark:hover {
    background-color: #deb169;
}

/* Login Page Styles */
.login-page {
    background-color: #E3DFD9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #7f9cab;
    padding: 40px;
    border-radius: 30px;
    width: 350px;
    text-align: center;
    color: white;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.login-container h1 {
    font-family: 'black-mango';
    font-size: 3rem;
}