@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:wght@700&family=Special+Elite&display=swap');

@font-face {
    font-family: 'black-mango';
    src: url('/static/fonts/BlackMango-Regular7600587055342289523.07.4440446c83fec5623f4118adba8e9e7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'garet';
    src: url('/static/fonts/Garet-Regular.026b1d7ff12d809c3e8a84bed1.0d6b73825ffb53723442c5660e87b4d4.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#about {
    font-family: 'garet';
    color: #211E20;
}

.body {
    background-color: #E3DFD9;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.center-content {
    text-align: center;
}

.center-content .title {
    color: #211E20;
    font-family: 'black-mango';
    font-weight: lighter;
}

.right-content {
    display: flex;
    flex-direction: grid;
    align-items: flex-end;
    gap: 10px;
    flex-direction: row-reverse;
}

.auth-search {
    display: flex;
    gap: 10px;
    align-items: center;
}

.auth-search .call-to-action {
    font-family: 'garet';
    color: #211E20;
    background-color: white;
    padding: 1px;
    border-radius: 10px;
    text-decoration: none;
}

.right-content .search-box-wrapper {
    font-family: 'garet';
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.login-page {
    background-color: #E3DFD9;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-container {
    background-color: #7f9cab;
    padding: 60px 40px;
    border-radius: 30px;
    width: 350px;
    text-align: center;
    color: white;
    z-index: 2;
}

.login-container h1 {
    font-family: 'black-mango';
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 30px;
}

.login-container input {
    font-family: 'garet';
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 8px;
}

.login-container button {
    font-family: 'black-mango';
    font-weight: lighter;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: white;
    color: #7f9cab;
    font-weight: bold;
}

.login-container p {
    font-family: 'garet';
}

.login-container a {
    color: white;
    font-family: 'black-mango';
    font-weight: lighter;
}

.stamp {
    position: absolute;
    opacity: 0.8;
    z-index: 1;
}

.pisa {
    rotate: 18.1deg;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
}

.vatican {
    top: 40px;
    right: 40px;
    width: 220px;
}

.colosseum {
    rotate: -12.2deg;
    bottom: 40px;
    right: 60px;
    width: 220px;
}

.everything {
    display: flex;
    align-items: right;
    justify-content: left;
    gap: 40%;
}

.title {
    color: #211E20;
}

.location-name {
    font-family: 'black-mango';
    font-weight: lighter;
}

.review-amount {
    font-family: 'garet';
    font-weight: lighter;
}

.star-data {
    font-family: 'garet';
    color: #211E20;
}

.sort-buttons { 
  height: 200px;
  position: relative;
  font-family: 'garet';
  color: #211E20;
}

.buttons {
  display: flex;
  margin-top: 20px;
  background-color: white;
  border-color: white;
  border-radius: 16px;
}

.name {
    font-family: 'black-mango';
}

.date {
    font-family: 'garet';
    color: #797277;
    margin-top: -20px;
}

.rating {
    margin-top: -20px;
}

.review {
    font-family: 'garet';
    color: #211E20;
    margin-top: -20px;
}

.right-hand-side .buttons {
    margin-top: 215px;
}

.right-hand-side{
    margin-top: 200px;
}
