<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>When In Rome</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
</head>

<body class="body">

    <div class="right-content">
                <div class="auth-search">
                    {% if user.is_authenticated %}
                            <a class="call-to-action" href="{% url 'WhenInRome:logout' %}">Logout</a>
                        {% else %}
                            <a class="call-to-action" href="{% url 'WhenInRome:register' %}">Sign Up</a>
                            <a class="call-to-action" href="{% url 'WhenInRome:login' %}">Login</a>
                        {% endif %}
                </div>
                    <form class="search-box-wrapper">
                        <input type="text" placeholder="Where will you go?">
                        <button class="btn btn-search">Search</button>
                    </form>
                    <a id=about href="{% url 'WhenInRome:about' %}">About</a>
    </div>    

    <section class="hero-section">   
        <div class="center-content">
            <h1 class="title" href="{% url 'WhenInRome:index' %}">When in Rome</h1>
            <img src="/static/images/homepagePassportStamp.jpg" alt="collage of passport stamps" width="337.4" height="453.3">
            <h1 class="title"> do as the Romans do</a>
        </div>
</body>
</html>
