<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>When In Rome</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
</head>

<body class="body">

    <div class="right-content">
                <div class="auth-search">
                    {% if user.is_authenticated %}
                    <a href="{% url 'WhenInRome:profile' user.username %}" style="display:inline-flex; align-items:center;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            style="width:28px; height:28px; background:#7f9cab; border-radius:50%; padding:8px;">
                            <circle cx="12" cy="8" r="4" fill="white" />
                            <path d="M4 20c0-4 3.6-7 8-7s8 3 8 7" fill="white" />
                        </svg>
                    </a>
                            <a class="call-to-action" href="{% url 'WhenInRome:logout' %}">Logout</a>
                        {% else %}
                            <a class="call-to-action" href="{% url 'WhenInRome:register' %}">Sign Up</a>
                            <a class="call-to-action" href="{% url 'WhenInRome:login' %}">Login</a>
                        {% endif %}
                </div>
                    <form class="search-box-wrapper">
                        <input type="text" placeholder="Where will you go?">
                        <button class="btn btn-search">Search</button>
                    </form>
                    <a id=about href="{% url 'WhenInRome:about' %}">About</a>
    </div>    

    {% block content %}{% endblock %}
</body>
</html>
