<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>When In Rome</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
        <link rel="stylesheet" href="./../../static/css/style.css">
    </head>

<body class="body">
    <div class="everything">
        <div class="left-hand-side">
            <div class="title">
                <h1 class="location-name">Koko House</h1>
                <h2 class="review-amount">Reviews ()</h2>
            </div>

            <div class="star-data">
                <p>5 star</p>
                <p>4 star</p>
                <p>3 star</p>
                <p>2 star</p>
                <p>1 star</p>
            </div>

            <div class="sort-buttons">
                <button class="buttons" type="button">Most Recent</button>
                <button class="buttons" type="button">Highest Rating</button>
                <button class="buttons" type="button">Lowest Rating</button>
                <button class="buttons" type="button">Photos</button>
                <button class="buttons" type="button">Videos</button>
            </div>
        </div>
        <div class="right-hand-side">
            <div class="reviews">
                <p class="name">Name</p>
                <p class="date">Date</p>
                <p class="rating">⭐️⭐️⭐️⭐️⭐️</p>
                <p class="review">Review</p>
                <button class="buttons" type="submit">Leave a review</button>
            </div>
        </div>
    </div>
</body>