<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>When In Rome</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
        <link rel="stylesheet" href="./../../static/css/style.css">
    </head>

<body class="body">
    <a href="{% url 'WhenInRome:index' %}">Home</a>
    <div class="container">
                <h1 class="location-name">Koko House</h1>
                <h2 class="subtitle">Reviews ()</h2>

        <div class="content">
            <div class="sidebar">
                <div class="star-row"><span>5 star</span><div class="bar"></div></div>
                <div class="star-row"><span>4 star</span><div class="bar"></div></div>
                <div class="star-row"><span>3 star</span><div class="bar"></div></div>
                <div class="star-row"><span>2 star</span><div class="bar"></div></div>
                <div class="star-row"><span>1 star</span><div class="bar"></div></div>
            </div>
        </div>
            <div class="buttons">
                <button>Most Recent</button>
                <button>Highest Rating</button>
                <button>Lowest Rating</button>
                <button>Photos ()</button>
                <button>Videos ()</button>
            </div>
        <div class="main">
            <div class="review"></div>
            <div class="review-header">
                <p class="username">Lauren Clarke</p>
                <p class="date">Date</p>
                <p class="rating">⭐️⭐️⭐️⭐️⭐️</p>
                <p class="comment">Review</p>
            </div>
        </div>
        <div class="leave-review">
            <button>Leave a review</button>
        </div>
    </div>
</body>
</html>